<div class="sidebar-body">
	<h2>Select Clusterings</h2>

	{{#each groups}}
		<h3 style="color: {{color}};">{{title}}</h3>
		<ul>
			{{#each instances}}
				<li>
					<label>
						<input type="checkbox" class="clustering-checkbox" data-clustering="{{key}}" {{#if checked}}checked{{/if}}">
						<span style="color: {{color}};">{{key}}: {{title}}</span>
					</label>
					<p>{{description}}</p>
				</li>
			{{/each}}
		</ul>
	{{/each}}
</div>

<div class="sidebar-footer two-buttons-pane">
	<button class="apply-button">Apply</button>
	<button class="reset-button">Reset</button>
</div>
