<div class="sidebar-body">
    <h3 id="selection-heading">
        {{#if singleSelection}}
            {{singleSelection.label}}
        {{else}}
            {{#if selection}}
                {{selection.length}} classes selected
            {{else}}
                Nothing selected
            {{/if}}
        {{/if}}
    </h3>

    {{#if selection}}
        <ul id="selection-class-list">
            {{#each selection}}
                <li class="class-item" data-node="{{key}}">
                    {{label}}
                </li>
            {{/each}}
        </ul>

        <h3>Most similar clusters:</h3>
        <ul id="selection-similarity-list">
            <li class="header">
                <span class="percentage-indicator"></span>
                <span class="intersection-size" title="Intersection of selection and cluster"><span></span></span>
                <span class="union-size" title="Union of selection and cluster"><span></span></span>
                <span class="node-title"></span>
                <span class="cluster-size" title="Size of cluster"></span>
            </li>
            {{#each clusters}}
                {{#each items}}
                    <li class="cluster-item" data-node="{{node.key}}">
                        <span class="percentage-indicator">
                            <span class="tiny-barchart">
                                <span class="bar" style="width: {{percent}}%;"></span>
                                <span class="label">{{percent}}%</span>
                            </span>
                        </span>
                        <span class="intersection-size"><span>{{intersection}}</span></span>
                        <span class="union-size"><span>{{totalCount}}</span></span>
                        <span class="node-title">
                            {{#if clustering}}<span style="font-weight: bold; color: {{clusteringColor}}">{{clustering}}</span> &raquo; {{/if}}
                            {{node.label}}
                        </span>
                        <span class="cluster-size">
                            {{clusterSize}}
                        </span>
                    </li>
                {{/each}}
                <li class="group-divider"></li>
            {{/each}}
        </ul>
    {{else}}
        <ol>
            <li>Select a software project to inspect at the top left.</li>
            <li>Choose which clusterings you want to compare at the top right. You can rearrange them by dragging the headings.</li>
            <li>Select classes by clicking on nodes. Ctrl-click to add classes to or remove them from the selection.</li>
            <li>Details about the selection and similar clusters will be shown here.</li>
        </ol>

        <p>The node's background color indicates whether there is a similar node in one of the
        secondary hierarchies (or in the primary hierarchy, respectively).</p>

        <p>For more information, refer to my <a href="https://thesis.jan-melcher.de/thesis.pdf">Bachelor's thesis</a>.
            Source code available on <a href="https://github.com/Yogu/clustercompare">GitHub</a>.</p>

        <p class="small">&copy; Jan Melcher, 2015.</p>
    {{/if}}
</div>
